---
permalink: /newsletter.rss
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>BAA Denison Newsletter</title>
    <link>https://denisonbaa.org</link>
    <description>The Black Alumni Association of Denison University — quarterly newsletter.</description>
    <language>en-us</language>
    <atom:link href="https://denisonbaa.org/newsletter.rss" rel="self" type="application/rss+xml"/>
    {% for item in collections.newsletter %}
    <item>
      <title>{{ item.data.title | escape }}</title>
      <link>https://denisonbaa.org{{ item.url }}</link>
      <guid isPermaLink="true">https://denisonbaa.org{{ item.url }}</guid>
      <pubDate>{{ item.date | dateToRfc2822 }}</pubDate>
      <description>{{ item.data.description | escape }}</description>
    </item>
    {% endfor %}
  </channel>
</rss>
